:root {
    --purple-color: #C297FF;
    --yellow-color: #fff7a5;
    --orange-color: #e45200;
}

body {
    background-color: var(--purple-color)
}

.main_grid {
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-template-rows: 1fr 1fr 3fr;

    grid-template-areas:
        "nametag nametag"
        "tagline tagline"
        "hero_sticker links";
}

.name_tag {
    grid-area: nametag;
}

.introduction {
    grid-area: tagline;
    color: var(--orange-color);
    background-color: var(--yellow-color);
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.2);
    padding: .5em;
    margin-inline-end: 3em;
}

.nav_links {
    grid-area: links
}

.nav_links ul {
    list-style-type: none;

    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: auto;
    row-gap: 1em;
    padding-left:0;
}

.nav_links li {
    background-color: var(--yellow-color);
    color: var(--orange-color);
    height: 3em;

    box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.2);

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    text-align: start;
}

.nav_links img {
    height: 2em;
    padding: .5em
}

li.first {
    grid-column: 2/4;
    grid-row: 1/2;
}

li.second {
    grid-column: 1/3;
    grid-row: 2/3
}

li.third {
    grid-column: 2/4;
    grid-row: 3
}

.hero_image {
    /* position: fixed; */
    background: url("/images/Kiersten Sticker.png") no-repeat center center / cover;
    position: absolute;
    top: 30%;
    left: -20%;
    width: 264px;
    height: 764px;
    /* transform: matrix(1.00, 0.09, -0.09, 1.00, 0.00, -0.00); */
    /* border-radius: 0px; */
    /* box-shadow: 6px 6px 2px 4px rgba(0, 0, 0, 0.2), 0px 0px 0px 6px #FFFFFF; */
}