.pacifico-regular {
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
}

:root {
    --purple-color: #C297FF;
    --yellow-color: #fff7a5;
    --orange-color: #be4600;
    --handwriting-color: #0c0029;
    --copyright-color: #472e69;
}

body {
    background-color: var(--purple-color);
}

p {
    margin: 0;
}

a {
    color: var(--orange-color);
    font-weight: 600;
    text-decoration: none;
}

.main_grid {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 30vh auto 35vh auto;

    grid-template-areas:
        "nametag nametag"
        "tagline tagline"
        "hero_sticker links"
        "content content";
}

@media (min-width: 600px) {
    .main_grid {
        grid-template-columns: 20% 50% 30%;

        grid-template-areas: "nametag nametag nametag"
            "na tagline nb"
            "hero_sticker content links";
    }
}

@media (min-width: 1200px) {
    .main_grid {
        grid-template-columns: 20% 10% 40% 30%;
        grid-template-rows: 20vh 20vh 35vh auto;
        
        grid-template-areas: "spacer nametag nametag na"
                             "hero_sticker tagline tagline na"
                             "hero_sticker content content links"
    }
}

.name_tag {
    grid-area: nametag;
    display: flex;
    flex-direction: row;

    justify-content: center;
}

.name_tag div {

    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 2fr 3fr 1fr;

    height: 100%;
    width: 100%;
}

.name_tag * {
    justify-self: center;
}

.name_tag img {
    /* min-width: 380px; */
    height: 100%;
    max-width: 100%;
    justify-self: center;
    grid-area: 1/1/4/2;
}

.name_tag p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2rem;
    color: white;
    text-wrap: nowrap;

    grid-area: 1/1/2/2;
    margin-top: .9em;

}

.name_tag p span {
    font-weight: bold;
    text-transform: uppercase;
}

.name_tag h1 {
    font-family: 'Pacifico', cursive;
    font-size: 3rem;
    color: var(--handwriting-color);
    text-wrap: nowrap;

    grid-area: 2/1/3/2;
}

.introduction {
    grid-area: tagline;
    color: var(--orange-color);
    background-color: var(--yellow-color);
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.2);
    width: 80%;
    min-width: 15em;
    max-width: 30em;
    max-height: auto;
    padding: .5em;
    font-size: medium;
}

.introduction a {
    color: var(--orange-color);
    font-weight: 600;
    text-decoration: underline dotted 2px;
    text-underline-offset: 2px;
}

@media (min-width: 600px) {
    .introduction {
        justify-self: center;
        margin-right: 2em;
        width: 80%;
    }
}

.nav_links {
    grid-area: links;
    margin-inline-start: 1em;
}

.nav_links ul {
    list-style-type: none;

    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: auto;
    row-gap: 1em;
    padding-left: 0;
}

.nav_links li {
    background-color: var(--yellow-color);
    color: var(--orange-color);
    height: 3em;

    box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.2);


    z-index: 10;

    min-width: fit-content;
    max-width: 250px;
    text-wrap: nowrap;

    padding-inline-end: .5em;
}

.nav_links a {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    text-align: center;
}

.nav_links svg {
    padding: .2em;
    align-self: center;
}

li.first {
    grid-column: 2/4;
    grid-row: 1/2;
}

li.second {
    grid-column: 1/3;
    grid-row: 2/3
}

li.third {
    grid-column: 2/4;
    grid-row: 3
}

.hero_image {
    z-index: 1;

    width: 80vw;
    max-width: fit-content;
    min-width: 200px;
    grid-area: hero_sticker;
    justify-self: end;
    position: relative;
    top: 10px;
    right: -40px;
}

.content {
    grid-area: content;
    background-color: rgb(255, 255, 235);

    z-index: 10;
    width: 80%;
    height: 100%;
    justify-self: end;
    margin-top: 1em;
    padding-inline: .5em;

    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.2);
}

footer {
    /* display: block; */
    bottom: 0px;


    padding: 1em;

    color: var(--copyright-color);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

footer * {
    position: relative;
    text-align: end;
}