:root {
    --purple-color: #C297FF;
    --yellow-color: #fff7a5;
    --orange-color: #be4600;
}

body {
    background-color: var(--purple-color);
}

p {
    margin:0;
}

.main_grid {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 30vh auto auto;

    grid-template-areas:
        "nametag nametag"
        "tagline tagline"
        "hero_sticker links";
}

.name_tag {
    grid-area: nametag;
}

.introduction {
    grid-area: tagline;
    color: var(--orange-color);
    background-color: var(--yellow-color);
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.2);
    width: 80%;
    min-width: 15em;
    max-width: 30em;
    padding: .5em;
    font-size: medium;
}

.nav_links {
    grid-area: links
}

.nav_links ul {
    list-style-type: none;

    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: auto;
    row-gap: 1em;
    padding-left:0;
}

.nav_links li {
    background-color: var(--yellow-color);
    color: var(--orange-color);
    height: 3em;

    box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.2);

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    text-align: start;

    z-index: 10;

    min-width: fit-content;
    text-wrap: nowrap;

    padding-inline-end: .5em;
}

.nav_links img {
    height: 2em;
    padding: .5em
}

li.first {
    grid-column: 2/4;
    grid-row: 1/2;
}

li.second {
    grid-column: 1/3;
    grid-row: 2/3
}

li.third {
    grid-column: 2/4;
    grid-row: 3
}

.hero_image {
    z-index: 1;

    width:300%;
    min-width: 300px;
    grid-area: hero_sticker;
    justify-self: end;
    position:relative;
    top: -3%;
    right: -80%;
}