<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default " en-us" }}">

<head>
    {{ partial "head" . }}
</head>

<body>

    <div class="main_grid">
        <header class="name_tag">
            <div>
                {{ with resources.Get "svgs/nametag_background.svg" }}
                <img src="{{ .RelPermalink }}"/>
                {{ end }}
                <p><span>Hello!</span> my name is:</p>
                <h1>{{.Page.Title }}</h1>
            </div>
        </header>

        <div class="introduction">
            {{ .Page.Content }}
        </div>

        <nav class="nav_links">
            <ul>
                <li class="first">
                    <a href="https://www.youtube.com/@Ms.KierstensMusicCorner">
                        <i class="fa-solid fa-video fa-2xl"></i>
                        <p>My Videos</p>
                    </a>
                </li>
                <li class="second">
                    <a href="/">
                        <i class="fa-solid fa-pen-to-square fa-2xl"></i>
                        <p>My Blog</p>
                    </a>
                </li>
               
                <li class="third">
                    <a href="mailto:mskierstenmusic@gmail.com">
                        <i class="fa-solid fa-envelope fa-2xl"></i>
                        <p>Contact Me</p>
                    </a>
                </li>
            </ul>
        </nav>
        {{ with resources.Get "images/kiersten_sticker_crop.png"}}
        <img class="hero_image" src="{{ .RelPermalink }}" />
        {{ end }}

        <article class="content">
            <h1>🏗️ under construction 🏗️</h1>
            <p>check back for more information about me once the site is complete.
               For now, contact me via the "Contact Me link above for more."
            </p>
        </article>
    </div>

</body>

</html>