<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default " en-us" }}">

<head>
    {{ partial "head" . }}
</head>

<body>

    <div class="main_grid">
        <header class="name_tag">
            <div>
                {{ with resources.Get "svgs/nametag_background.svg" }}
                <img src="{{ .RelPermalink }}"/>
                {{ end }}
                <p><span>Hello!</span> my name is:</p>
                <h1>{{.Page.Title }}</h1>
            </div>
        </header>

        <div class="introduction">
            {{ .Page.Content }}
        </div>

        <nav class="nav_links">
            <ul>
                <li class="first">
                    <img src="favicon.ico" />
                    <p>My Videos</p>
                </li>
                <li class="second">
                    <img src="favicon.ico" />
                    <p>My Blog</p>
                </li>
                <li class="third">
                    <img src="favicon.ico" />
                    <p>Contact Me</p>
                </li>
            </ul>
        </nav>
        {{ with resources.Get "images/kiersten_sticker_crop.png"}}
        <img class="hero_image" src="{{ .RelPermalink }}" />
        {{ end }}
    </div>

</body>

</html>