<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default " en-us" }}">

<head>
    {{ partial "head" . }}
</head>

<body>

   <div class="main_grid">
        <div class="name_tag">
            <h1>Ms. Kiersten</h1>
        </div>

        <div class="introduction">
            <p>hello there</p>
        </div>

        <div class="nav_links">
            <ul>
                <li class="first">
                    <img src="favicon.ico"/>
                    <p>My Videos</p>
                </li>
                <li class="second">
                    <img src="favicon.ico"/>
                    <p>My Blog</p>
                </li>
                <li class="third">
                    <img src="favicon.ico"/>
                    <p>Contact Me</p>
                </li>
            </ul>
        </div>
   </div>
   <img class="hero_image" src="images/Kiersten Sticker.png"></img>
</body>

</html>